<button
  nz-button
  nzType="primary"
  (click)="onCreate()"
  nzShape="round"
  style="float: right"
>
  Create
</button>
<ng-container *ngIf="view$ | async as view">
  <nz-alert
    *ngIf="view.status.kind === 'TableStatusError'"
    nzType="error"
    nzCloseable
    [nzDescription]="view.status['message']"
  >
  </nz-alert>
  <nz-table
    #table
    (nzQueryParams)="onQueryParamsChange($event)"
    nzShowSizeChanger
    [nzData]="view.list.items"
    [nzFrontPagination]="false"
    [nzLoading]="view.status.kind === 'TableStatusLoading'"
    [nzTotal]="view.list.pager.count"
    [nzPageSize]="view.list.pager.limit"
    [nzPageIndex]="view.list.pager.page"
  >
    <thead>
      <tr>
        <th nzColumnKey="subscriberId" [nzSortFn]="true">SubscriberId</th>
        <th
          nzColumnKey="status"
          [nzSortFn]="true"
          [nzFilterFn]="true"
          [nzFilterMultiple]="false"
          [nzFilters]="filterStatus"
        >
          Status
        </th>
        <th
          nzColumnKey="usageBytes"
          [nzSortFn]="true"
          [nzFilterFn]="true"
          [nzFilterMultiple]="false"
          [nzFilters]="filterUsageBytes"
        >
          Usage Bytes
        </th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of view.list.items; trackBy: trackByRow">
        <td>{{ data.subscriberId }}</td>
        <td>{{ data.status }}</td>
        <td>{{ data.usageBytes }}</td>
        <td>
          <a (click)="onEdit(data)">Edit</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="onDelete(data)">Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>
